/* General */

.container {
  width: 960px;
}
  /* Header */
.header {
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #ddd;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding: 15px;
  }
  img {
    height: 50px;
    width: 50px;
  }
.jumbotron{
  height: 720px;
  background-image:url("https://cdn.pixabay.com/photo/2017/02/14/19/16/php-2066704_960_720.jpg");
}
.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}
.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.menu a {
  color: #898989;
}
h3{
  text-align:center;
}
p {
  font-size: 20px;
  text-align: center;
      }

li {
  font-size: 20px;
  }
.footer p{
  font-family: 'Libre Baskerville', sans-serif;
  color: green;
  font-size:15px;
  text-align: center;
}
